## Get the Lat Lon for each Neighborhood

I am going to use the csv provided and merge the two DataFrames from two csvs:
1. I saved the web scraped postal coded neighborhoods to a csv
2. The csv provided with lat lons for each neighborhood/postal code

### First, I need to load the two DataFrames from csv files.

In [3]:
# import libraries
import pandas as pd

In [4]:
# load the csv of Toronto Neighborhoods created from the scraped Wikipedia webpage:
df_Neighborhoods = pd.read_csv('Toronto.csv')
print(df_Neighborhoods.shape)
df_Neighborhoods.head()

(103, 4)

,Unnamed: 0,PostalCode,Borough,Neighborhood
0,0,M3A,North York,Parkwoods
1,1,M4A,North York,Victoria Village
2,2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [5]:
# load the csv provided with lat lons for neighborhoods
df_LatLon = pd.read_csv('Geospatial_Coordinates.csv')
print(df_LatLon.shape)
df_LatLon.head()

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now I need to merge the two dataframes on the Postal Code column

In [7]:
# rename the 'Postal Code' column to PostalCode in the df_LatLon DataFrame
df_LatLon.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)

df_LatLon.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [8]:
print(df_LatLon.shape)

(103, 3)

In [22]:
# merge the DataFrames
df_Merged = df_Neighborhoods.merge(df_LatLon, how='left', on='PostalCode',)
df_Merged = df_Merged[['PostalCode','Borough','Neighborhood','Latitude','Longitude']]

# write the DataFrame to a csv to use in the next exercise
df_Merged.to_csv('TorontoNeighborhoodsLatLon.csv')

# print the shape, and print the dataframe
print(df_Merged.shape)
df_Merged

(103, 5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999